.container .s1,.container .s2{
    text-align: center;
    border: 1px solid rgb(69, 62, 62);
}

.container .preview-textfield{
    color: wheat;
}
.col-md-4{
    margin-right: 20px;

}
.col-md-4:hover{
    background-color: rgb(33, 32, 32);
}